body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }
  
  #home-container {
    text-align: center;
    padding: 50px;
  }
  
  h1 {
    color: #333;
  }
  
  #join-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #join-button:hover {
    background-color: #2980b9;
  }
  