<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Chat</title>
  <link rel="stylesheet" href="/static/css/chat.css">
  <link rel="stylesheet" href="/static/css/message.css">
</head>
<body>
    <div id="allpage">
      <div id="user-page">

        <div id="user-profile">
          <!-- 头像放置在这里 -->
          <img src="static/images/avatar.jpg" alt="User Avatar">
          <div id="username">
            Siky
          </div>
        </div>
        <!-- //写一些按钮 《设置》《关于》《登录/退出》 -->
        <div id="stats">
          <!-- 写一下连接状态，连接数量 -->
          <p id="online-status"><span>当前在线:</span><span id="connectionCount">0</span></p>
        </div>
        <div id="user-buttons">
          <button class="button-list">About</button>
          <button class="button-list">Setting</button>
          <button class="button-list">Logout</button>
        </div>
      </div>
      <div id="chat-page">
        <h2>Test Chat</h2>

        <div id="chat">
          <div id="context-menu" class="context-menu">
            <div class="context-menu-item" id="reply">回复</div>
            <div class="context-menu-item" id="translate">翻译</div>
            <div class="context-menu-item" id="copy">复制</div>
            <div class="context-menu-item" id="forward">转发</div>
            <div class="context-menu-item" id="delete">删除</div>
            <!-- 添加更多菜单项... -->
          </div>
        </div>

        <div id="chat-input">
          <!-- textarea元素支持多行输入 -->
          <textarea id="chat-box" placeholder="请输入" onkeydown="handleKeyDown(event)"></textarea>
        </div>

      </div>
    </div>
</body>
<script src="/static/js/ws.js"></script>
<script src="/static/js/chat.js"></script>
<script src="/static/js/message.js"></script>
</html>
